.main{
  font-family: Inter-Regular;
}
section{
  background-color: #0B1020;
}
.hero{
  position: relative;
  min-height: 400px;
  padding: 40px 80px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5)0%, rgba(0, 0, 0, 0.8)25%, rgba(0, 0, 0, 0)40%),
  linear-gradient(180deg,rgba(0,0,0,0)0%,rgba(0,0,0,0.9)95%), 
  url(../images/hero-background.png);
  background-position: 0 25%;
  background-size: cover;
}
.hero-block{
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero-title{
  font-size: 60px;
  color: white;
  font-family: Inter-Bold;
}
.hero-slogan{
color: #b56cfa;
font-family: Inter-Medium;
font-size: 20px;
}
.hero-description{
  color: white;
  font-family: Inter-Regular;
  line-height: 1.5;
}
.hero-buttons{
  display: flex;
  gap: 10px;
}
.platform{
  display: flex;
  padding: 10px;
  gap: 10px;
}
.mobile{
  min-height: 40vh;
  width: 50%;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius:6px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  background: 
  linear-gradient(90deg, rgba(0, 0, 0, 0.85)45%, rgba(0, 0, 0, 0)),
  url(../images/mobile-background.png);
  background-size: cover;
}
.mobile span{
  color: white;
}
.mobile-title{
  display: flex;
  align-items: center;
  gap: 5px;
}
.mobile-title img{
  width: 32px;
  height: 32px;
  filter:  
    brightness(0)
    saturate(100%)
    invert(35%)
    sepia(98%)
    saturate(1600%)
    hue-rotate(240deg)
    brightness(95%)
    drop-shadow(1px 1px 10px #b56cfa);
}
.mobile-title span{
  font-size: 18px;
  color: #b56cfa;
  text-shadow: 2px 2px 15px #b56cfa;
}
.mobile-icons img{
  width: 32px;
  height: 32px;
  filter: invert(1);
}
.mobile-brand{
font-size: 28px;
font-family: Inter-Medium;
}
.mobile-brand-title{
font-size: 28px;
font-family: Inter-Medium;
}
.mobile-brand-description{
  max-width: 400px;
}
.pc{
  min-height: 40vh;
  width: 50%;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius:6px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  background: 
  linear-gradient(90deg, rgba(0, 0, 0, 0.45)45%, rgba(0, 0, 0, 0)),
  url(../images/pc-background.png);
  background-size: cover;
}
.pc span{
  color: white;
}
.pc-title{
  display: flex;
  align-items: center;
  gap: 5px;
}
.pc-title img{
  width: 32px;
  height: 32px;
  filter:  
    invert(1)
    drop-shadow(1px 1px 10px white);
}
.pc-title span{
  font-size: 18px;
  color: #22C55E;
  text-shadow: 2px 2px 15px #22C55E;
}
.pc-icons img{
  width: 32px;
  height: 32px;
  filter: invert(1);
}
.pc-brand{
font-size: 28px;
font-family: Inter-Medium;
}
.pc-brand-title{
font-size: 28px;
font-family: Inter-Medium;
}
.pc-brand-description{
  max-width: 400px;
}
.pc-button-filled{
background: linear-gradient(135deg, rgb(34, 197, 94), #16A34A);
box-shadow:
    0 8px 10px rgba(34, 197, 94, 0.35),
    inset 0 1px 0 rgba(255,255,255,0.15);
}
.pc-button-empty{
border: 1px solid #22C55E;
}
.shop{
  padding: 10px;
}
.shop-block{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 6px;
  padding: 20px;
  background-color: #080a14;
}
.shop-title-block{
  display: flex;
  align-items: center;
  gap: 10px;
}
.shop-title-block-image{
  width: 32px;
  height: 32px;
  filter:  
    brightness(0)
    saturate(100%)
    invert(35%)
    sepia(98%)
    saturate(1600%)
    hue-rotate(240deg)
    brightness(95%)
    drop-shadow(1px 1px 10px #b56cfa);
}
.shop-title{
  color: #b56cfa;
  text-shadow: 2px 2px 10px #b56cfa;
}
.daily{
  padding: 10px;
}
.daily-block{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 6px;
  padding: 20px;
  background-color: #080a14;
}
.daily-title-block{
  display: flex;
  align-items: center;
  gap: 10px;
}
.daily-title-block-image{
  width: 32px;
  height: 32px;
  filter:  
    brightness(0)
    saturate(100%)
    invert(35%)
    sepia(98%)
    saturate(1600%)
    hue-rotate(240deg)
    brightness(95%)
    drop-shadow(1px 1px 10px #b56cfa);
}
.daily-title{
  color: #b56cfa;
  text-shadow: 2px 2px 10px #b56cfa;
}
.daily-buttons{
  align-self: center;
}
.daily-buttons input{
  font-size: 20px;
}
.done-image{
  width: 24px;
  height: 24px;
}
.leaderboard {
  padding: 10px;
}
.leaderboard-block {
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 6px;
  background-color: #080a14;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.leaderboard-title-block {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.leaderboard-image {
  height: 32px;
  width: 32px;
    filter:  
    brightness(0)
    saturate(100%)
    invert(35%)
    sepia(98%)
    saturate(1600%)
    hue-rotate(240deg)
    brightness(95%)
    drop-shadow(1px 1px 5px #b56cfa);
}
.leaderboard-title {
  color: #b56cfa;
  text-shadow: 2px 2px 10px #b56cfa;
}
.leaderboard-buttons{
  margin-left: auto;
}
.leaderboard-button {
  border: 1px solid rgba(255,255,255,0.08);
  font-size: 16px;
}
.leaderboard-grid{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
.leaderboard-header,
.leaderboard-row{
display: grid;
grid-template-columns: 50px 2fr 1fr 2fr 1fr 1fr;

}
.leaderboard-row{
  border: 1px solid rgba(255,255,255,0.08);
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  background-color:rgba(51, 51, 51, 0.15);
}
.cell{
  color: white;
  font-family: Inter-Regular;
}
.nickname{
  display: flex;
  align-items: center;
  gap: 5px;
}
.nickname img{
width: 32px;
height: 32px;
border: 1px solid rgb(42, 94, 136);
box-shadow: 0 0 5px rgb(42, 94, 136),inset 0 0 10px rgb(42, 94, 136);
border-radius: 50%;
padding: 1px;
}
.rank-1{
  background-color: rgba(255, 215, 0,0.5);
  border: 1px solid gold;
  box-shadow:0 0 5px gold,inset 0 0 5px gold ;
}
.rank-1 .nickname img{
  border: 1px solid yellow;
box-shadow: 0 0 5px gold,inset 0 0 10px gold;
}
.rank-1 .rank{
  font-family: Inter-Bold;
}
.rank-2{
background-color: rgba(128, 128, 128,1);
border: 1px solid rgb(173, 173, 173);
box-shadow:0 0 5px rgb(218, 218, 218),inset 0 0 5px rgb(218, 218, 218) ;
}
.rank-2 .nickname img{
  border: 1px solid white;
box-shadow: 0 0 5px white,inset 0 0 10px white;
}
.rank-2 .rank{
  font-family: Inter-Bold;
}
.rank-3{
background-color: rgba(205, 127, 50, 0.4);
border: 1px solid rgb(205, 127, 50);
box-shadow:0 0 5px rgb(205, 127, 50),inset 0 0 5px rgb(205, 127, 50) ;
}
.rank-3 .nickname img{
  border: 1px solid rgb(205, 127, 50);
box-shadow: 0 0 5px rgb(205, 127, 50),inset 0 0 10px rgb(205, 127, 50);
}
.rank-3 .rank{
  font-family: Inter-Bold;
}
.pc-button-filled:hover,
.pc-button-empty:hover {
    transform: translateY(-2px);

    box-shadow:
        0 0 20px #22C55E;
}
.leaderboard-row {
    transition: 0.3s ease;
}
.leaderboard-row:hover {
    transform: scale(1.01);
}
.shop-cards{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  position: relative;
  gap: 20px;
}
.card{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border:1px solid rgba(255,255,255,0.08);
  border-radius: 10px;
}
.card-title{
  color: white;
  padding-left: 15px;
}
.card-description{
  padding-left: 15px;
  color: orange;
  text-shadow: 0 0 10px orange;
}
.card-cost{
  padding-left: 15px;
  color:#22C55E;
  text-shadow: 0 0 3px #22C55E;
}
.card-image{
  width: 100%;
  height: 65%;
  border-radius: 10px;
}
.card:hover{
  box-shadow: 0 0 3px rgb(111, 18, 217);
}
.daily-cards{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  position: relative;
  gap: 20px;
}
.daily-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border:1px solid rgba(255,255,255,0.08);
  border-radius: 10px;
  position: relative;
}
.daily-active{
  box-shadow: 0 0 25px rgb(111, 18, 217);
}
.daily-active .card-cost{
  display: none;
}
.daily-future{
filter: brightness(0.5);
}
.daily-future .card-cost{
  display: none;
}
.daily-accepted{
filter: brightness(0.5);
}